name: Publish

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag to apply to the published version in npm'
        required: true
        default: 'latest'
        type: string

env:
  JOB_NODE_VERSION: '20.19.6'  # Chosen to match what is used internally by the Heroku CLI

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.JOB_NODE_VERSION }}
          registry-url: 'https://registry.npmjs.org'
          cache: yarn

      - name: Update npm # npm 11.5.1 or later required for trusted publishing
        run: npm install -g npm@latest

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Publish to npm
        run: npm publish --provenance --tag ${{ github.event.inputs.tag }}
